
body {
    background-image: url("Port.background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color:black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }

 

 h1 {
text-align: center;
padding: 150px 0px 40px;
color: yellowgreen;
 }


 h2  {

  text-align:left;
  color:lightskyblue;
  padding:20px 100px 10px 40px;
 }

 .portfolio {
  padding: 0px 100px 10px 50px;
  color:yellowgreen;
  font-weight:bold;
  
 }
 .slideshow-container {
  padding-top: 55px;
  padding: 0px;
 display: flex;
 justify-content: space-around;
 text-align: right;
 font-size:25px;
 font-family:'farnklin gothic medium', 'arial narrow',arial,sans-serif;
 

}

.p1 {
display: flex;
justify-content: space-around;
text-align: left;
padding-top:55px;
font-size:25px ;

}

.p2 {
  color:yellowgreen;
  text-align: right;
  display: flex;
  justify-content: space-around;
  padding-top: 55px;
  font-size: 25px;
}



 /*FOOTER*/

 .footer {
     display: flex;
     justify-content:space-evenly;
     flex-direction: row;
     background:purple;
     color:white;
 }





 
